/* :root {
  --primary-color: #1a1a1a; 
  --secondary-color: #cccccc; 
  --active-color: #ffffff; 
  --highlight-color:  #00cccc; 
  --background-color: #000000; 
} */


.scrollToTopDiv {
  width: 30px;
  position: fixed;
  bottom: 15px;
  right: 5px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  color: var(--secondary-color);
  opacity: 0.4;
  transition: color 0.3s ease; 
  /* box-shadow: 0 0 2px 2px var(--primary-color); */
}

.scrollToTopDiv:hover {
  color: var(--highlight-color); 
  opacity: 1;
}

.scrollToTopButton {
  width: 100%;
  height: 100%;
  transition: color 0.3s ease; 
}

.scrollToTopDiv:hover .scrollToTopButton {
  color: var(--highlight-color);
}
